<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Website</title>
  </head>
  <body>
   {{> header}}
    
     <p>{{screamIt welcomeMsg}}</p><!here we pass the args by space sepration!>
      {{> footer}}
  </body>
</html>
